html,
body,
#root,
#root > div {
  height: 100vh;
  margin: 0;
}

#root {
  overflow: hidden;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: white;
  z-index: 99999;
}

.home-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: inline-block;
  width: 100%;
}
#header-logo {
  position: relative;
  z-index: 1000;
  max-width: 800px;
  transition: all 1.2s;
}
.header_logo_img img {
  padding-left: 100px;
  padding-top: 100px;
  display: block;
}
.small-header-logo {
  max-width: 251pt !important;
  padding-top: 25px !important;
  padding-left: 0px !important;
  height: auto;
}
.primaryMenu {
  position: absolute;
  width: calc(100% - 15px);
  display: flex;
  align-items: flex-end;
  bottom: 0;
  height: 100vh;
}
.menu-item {
  height: 154px;
  width: 16%;
  display: inline-block;
  cursor: pointer;
  transition: all 1.2s;
  position: relative;
}
.menu-item:hover {
  height: 175px;
}
.menu-item:hover p {
  opacity: 1 !important;
}
.menu-title {
  text-align: center;
  position: absolute;
  top: 22px;
  left: 0;
  transition: all 1.2s;
  display: block;
  right: 0;
  margin: auto;
}
.full-menu-item {
  height: 100vh !important;
  width: 100% !important;
}
.full-menu-item .full-menu-title {
  position: absolute !important; 
  left: 282pt !important;
  top: 52pt !important;
  opacity: 1 !important;
  right: inherit;
}
.full-menu-item .close-btn {
  opacity: 1;
}
.small-menu-item {
  height: 0% !important;
  width: 0% !important;
  visibility: hidden;
  opacity: 0;
}
#home-text {
  padding-left: 100px;
  z-index: 1111 !important;
  margin-top: -30px;
  opacity: 1;
  transition: all 1.2s;
  position: relative;
  z-index: 0;
}
.home-text-faded {
  opacity: 0 !important;
}
img {
  max-width: 100%;
  width: auto;
}
#root {
  /* max-width: 1480px; */
  max-width: calc(100% - 30px);
  margin: auto !important;
  /* margin-top: 15px !important; */
  /* max-height: calc(100vh - 15px); */
  height: auto !important;
}
#main {
  padding: 15px 0 0;
  position: relative; 
  /* overflow: hidden; */
  display: block;
  width: 85%;
  margin-left: calc(15% /2) !important;
}
@media (min-width: 767px) {
  #root > div {
    height: 100vh;
    margin: 0;
    /* min-height: 800px; */
  }
  /* body {
    overflow-y: auto;
  } */
}

@media (max-width: 1450px) {
  /* body {
    overflow-x: auto;
    overflow-y: auto;

  } */
}
@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  #header-logo {
    max-width: 650px;
  }
  #home-text {
    font-size: 60px !important;
  }
  .header_logo_img img {
    padding-top: 70px;
  }
}
@media(max-width:1299px){
  .menu-item {
    height: 154px;
    font-size: 30px !important;
  }
  .menu-item:hover {
    height: 178px;
  }
}
@media(max-width:1199px){
  .menu-item {
    height: 148px;
  }
  .menu-item:hover {
    height: 170px;
  }
}
@media only screen and (max-width: 1299px) and (min-width: 1025px) {

  #header-logo {
    max-width: 650px;
  }
  #home-text {
    font-size: 60px !important;
  }
  .header_logo_img img {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 992px) {

  .header_logo_img img {
    padding-top: 50px;
    padding-left: 50px;
  }
  #header-logo {
    max-width: 530px;
  }
  #home-text {
    font-size: 50px !important;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .header_logo_img img {
    padding-top: 50px;
    padding-left: 50px;
  }
  #header-logo {
    max-width: 530px;
  }
  #home-text {
    font-size: 50px !important;
    padding-left: 50px;
  }
}
/* @media (max-width: 991px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
} */

@media(max-width:991px){
  .menu-title{padding:0 10px;}

.next_btn, .prev_btn{
  opacity: 1 !important;
}
}

/* 21/12/2020 */
@media(max-width:1190px){
  #root{
    width:1190px;
    max-width: 100%;
  }
  #root > div{
    min-height: 0;
    width:1190px;
  }
  .menu-item{font-size: 26px !important;}
}
/* @media only screen and (max-width: 991px) and (min-width: 768px){
  #root > div{
    min-height: 0;
    width:100%;
  }
} */

@media(max-height:700px){
  body{
    overflow-y: auto;
  }

  #root > div {
    /* min-height: 800px; */
  }
}
@media(max-width:991px){
  .menu-title{opacity: 1 !important;}
  .menu-item{font-size: 24px !important;}
}

.full-box-shadow {
  /* box-shadow: 0 0 0 100vw var(--bg-color); */
  position: relative;
} 

@keyframes __scaleEffectBg {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(10)
  }
}

.full-box-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: var(--bg-color);
  animation: __scaleEffectBg 6s;
  -webkit-animation: __scaleEffectBg 6s;
  z-index: -1;
}

.menu-item:after {
  content: "";
  background-color: var(--bg-color);
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: 2s ease;
  -webkit-transition: 2s ease;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: -1;
}

.full-menu-item:after {
  width: calc(100% + 20vw);
  height: calc(100% + 20vh);
}