.home-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 15px 0 0;
  box-sizing: border-box;
  opacity: 1;
  transition: 1s ease;
  -webkit-transition: 1s ease;

  &.__hidden {
    // opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}

@keyframes scaleAnimate {
  form {
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
    transform: scale(20);
    opacity: 1;
  }
}

.main-menu {
  width: 100%;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;

    li.menu-item {
      display: flex;
      justify-content: center;
      height: var(--height-value);
      width: calc(100% / var(--total-nav-item));
      
      .menu-color-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // transition: .3s ease;
        // -webkit-transition: .3s ease;
        // z-index: -1;

        &.__animate-menu-background {
          animation: scaleAnimate 5s ease-out;
          -webkit-animation: scaleAnimate 5s ease-out;
        }
      }

      .menu-text {
        display: inline-block;
        font-size: 30px;
        font-family: "Playfair Display SC";
        position: relative;
        z-index: 3;
        text-align: center;
        margin-top: 20px;
        transition: .5s ease;
        -webkit-transition: .5s ease;
      }

      &:not(:last-child) {

        .menu-text {
          opacity: 0;
        }
      }

      a {
        position: relative;
        display: inline-block;
        z-index: 3;
      }

      &:hover {
        height: calc(var(--height-value) + 20px);

        .menu-text {
          opacity: 1;
        }
      }

      &.__is-current {

        .menu-color-background {
          z-index: -1;
        }
      }
    }
  }
}

.menu-item {

  .menu-color-background {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 0 var(--menu-color);
      z-index: -1;
      transition: 2s ease;
      -webkit-transition: 2s ease;
    }

    &.__is-full-color {

      &:after {
        content: '';
        box-shadow: 0 0 0 90vw var(--menu-color);
      }
    }
  }
}

.menu-text {

  &.__transform-to-heading-page {
    left: 282pt !important;
    top: 52pt !important;
  }
}

.background-shadow-wrap {
  position: absolute;
  z-index: -1;
  width: 0 !important;
  height: 0 !important;
}

.background-shadow-anim {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  transition: width 1.2s ease, height 1.2s ease, left 1.2s ease;
  -webkit-transition: width 1.2s ease, height 1.2s ease, left 1.2s ease;
} 