.nav-clone {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 15px 0 0;
  box-sizing: border-box;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}

@keyframes scaleAnimate {
  form {
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
    transform: scale(20);
    opacity: 1;
  }
}

.menu-clone {
  width: 100%;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;

    li.menu-item {
      display: flex;
      justify-content: center;
      height: var(--height-value);
      width: calc(100% / var(--total-nav-item));
      
      .menu-color-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // transition: .3s ease;
        // -webkit-transition: .3s ease;
        // z-index: -1;

        &.__animate-menu-background {
          animation: scaleAnimate 5s ease-out;
          -webkit-animation: scaleAnimate 5s ease-out;
        }
      }

      .menu-text {
        display: inline-block;
        font-size: 30px;
        font-family: "Playfair Display SC";
        position: relative;
        z-index: 3;
        text-align: center;
        margin-top: 20px;
        transition: .5s ease;
        -webkit-transition: .5s ease;
      }

      &:not(:last-child) {

        .menu-text {
          opacity: 0;
        }
      }

      a {
        position: relative;
        display: inline-block;
        z-index: 3;
      }

      &:hover {
        height: calc(var(--height-value) + 20px);

        .menu-text {
          opacity: 1;
        }
      }

      &.__is-current {

        .menu-color-background {
          z-index: -1;
        }
      }
    }
  }
}