.tab-container {
  /* overflow: hidden; */
}

#tab-page {
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
  opacity: 1;
  /* transition: all 1s; */
}

#next-page {
  height: 100%;
  position: relative;
  float: left;
  width: 0%;
  opacity: 0;
  /* transition: all 1s; */
}

#prev-page {
  height: 100%;
  position: relative;
  float: left;
  width: 0%;
  opacity: 0;
  /* transition: all 1s; */
}

#tab-page .header_logo_img img,
#next-page .header_logo_img img,
#prev-page .header_logo_img img {
  max-width: 251pt !important;
  padding-top: 25px !important;
  padding-left: 0px !important;
  height:auto;
}

#tab-page .tab-title,
#next-page .tab-title,
#prev-page .tab-title {
  position: absolute !important;
  left: 282pt !important;
  top:52pt !important;
  opacity: 1 !important;
  right: inherit;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}

#tab-page .close-btn { 
  text-decoration: none;
  position: absolute;
  top: 24px;
  right: -5vw;
  font-size: 0px;
  background-image: url("../../assets/close_icon.png"); 
  width: 60px;
    height: 60px;
    z-index: 111111;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}
#tab-page .menu-item-main-content,
#next-page .menu-item-main-content,
#prev-page .menu-item-main-content {
  z-index: 1111;
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  justify-content: center;
  /* padding-left: 15%; */

  margin:auto;

}
.next_btn svg,
.prev_btn svg {
  width: 60px;
  top: 36%;
}
.next_btn,
.prev_btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 280px;
  opacity: 0;
  cursor: pointer;
  z-index: 11111;
  height: calc(100% - 307px);
}
.prev_btn {
  left: -7vw;
  right: inherit;
}

.next_btn {
  right: -7vw;
}

.prev_btn:hover,
.next_btn:hover {
  opacity: 1;
}

#tab-page .menu_list,
#next-page .menu_list,
#prev-page .menu_list {
  display: inline-block;
  float: left;
  width: 23%;
}


#tab-page .menu_list .active,
#next-page .menu_list .active,
#prev-page .menu_list .active {
  color: #000000;
}
ul.news_list {
  list-style: none;
  display: inline-block;
  float: left;
  padding-left: 0px;
  padding-right: 20px;
}
.menu-item-main-content .menu_list li {
  color: #fff;
  list-style: none;
  font-family: Playfair Display SC;
  font-size: 23px;
  text-transform: uppercase;
  cursor: pointer;
    padding-bottom: 8px;
}
.news_img {
  max-width: 75%;
  height: auto;
}
.contact-page p {
  line-height: 40px;
}
.menu_list ul {
  padding-left: 0;
}
.about_page{
  flex-wrap: wrap;
  max-width: 1100px;
  padding:0 30px;
}
button.next_btn.about_prev_next_btn {
  width: 100px;
}
button.prev_btn.about_prev_next_btn {
  width: 100px;
}
.prev_btn svg{
  left: 30px;
  position: absolute;
}
.next_btn svg{
  right:30px;
  position: absolute;
}
.about_page p:first-child{
  margin:0;
}

@media(max-width:1300px){
  .about_page .menu_list {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .about_page{
    width:auto !important;
  }
  .about_page .menu_list li {
    display: inline-block;
    padding-right: 20px;
  }
  /* .next_btn, .prev_btn{
    width:125px !important;
  } */
  .news_img{
    margin: auto;
      display: block;
  }
  button.next_btn.about_prev_next_btn {
    width: 100px;
  }
  button.prev_btn.about_prev_next_btn {
    width: 100px;
  }
  .menu-item-main-content.about_page div{
    width: auto;
    margin: auto;
    max-width: 847px;
  }

}

#prev-page,
#next-page { 
  /* display: none;  */
  overflow: hidden;
}

#prev-page.__in-animate,
#next-page.__in-animate {
  /* display: initial; */
  overflow: initial;
}

a.header_logo_img {
  display: inline-block;
}

a.header_logo_img.__clone-logo img {
  padding: 25px 0 0 0;
  max-width: 100% !important;
  box-sizing: border-box; 
}